<div class="center">
  <a class="font">Авторзация</a>
   <p><small class="p-invalid" *ngIf="this.$authInvalid.value">Неправильный email пользователя или пароль</small></p>
  <form [formGroup]="authorizationForm" (ngSubmit)="checkUser()">
    <p><input pInputText placeholder="Email..." class="p-inputted" type="email" id="login" name="login"
              formControlName="login">
    <p><input pInputText placeholder="Пароль..." class="p-password-input" type="password"
              id="password" name="password" formControlName="password">
    <p>
      <button pButton class="p-button buttonColour" icon="pi pi-play" type="submit">Войти
      </button>
    </p>
  </form>
</div>
