<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Добавить задачу" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table [columns]="cols" [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }" sortMode="multiple">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]='col.field'>
          {{col.header}}
          <p-sortIcon [field]='col.field'></p-sortIcon>
        </th>
        <th>
          <p></p> <!--table-header для технической колонки с кнопками-->
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-value>
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 table-button"
                  (click)="editTask(value)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteTask(value)"></button>
        </td>
        <th>
          <p></p> <!--table-header для технической колонки с кнопками-->
        </th>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [formGroup]="taskForm" [(visible)]="taskDialog" [style]="{width: '600px',height: '700px'}"
            header="Создание задачи"
            [modal]="true"
            styleClass="p-fluid">

    <ng-template pTemplate="content">
      <div class="p-field">
        <small class="p-invalid" *ngIf="$submitted && !task.name">Поля имя и задача обязательны.</small>
      </div>
      <div class="p-field">
        <label for="user">Имя исполнителя</label>
        <input formControlName="user" pInputText type="text" id="user">
      </div>
      <div class="p-field">
        <label for="name">Задача</label>
        <textarea formControlName='name' id="name" pInputTextarea required rows="3"
                  cols="20"></textarea>
      </div>
      <div class="p-field">
        <label for="date">Дата</label>
        <p-calendar formControlName="date" [minDate]='currentDate' id="date" appendTo="body" dateFormat="dd.mm.yy"
                    [showTime]="true"
        ></p-calendar>
      </div>
      <div class="p-field">
        <label class="p-mb-3">Категория</label>
        <div class="p-form grid p-grid">
          <div>
            <p-dropdown formControlName="Category" appendTo="body" optionLabel="name" optionValue="name" name="category"
                        [options]="categories"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="p-field">
        <label class="p-mb-3">Статус</label>
        <div>
          <p-dropdown formControlName="status" appendTo="body" id="status" name="status" [options]="status"
          ></p-dropdown>
        </div>
      </div>
      <div class="p-field">
        <label class="p-mb-3">Приоритет задачи</label>
        <div class="p-form grid p-grid">
          <div>
            <p-dropdown formControlName='priority' appendTo="body" id="priority" name="priority" [options]="priority"
            ></p-dropdown>
          </div>
        </div>
      </div>

    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Выйти" icon="pi pi-times" class="p-button-text"
              (click)="hideDialog()"></button>
      <button pButton pRipple label="Сохранить" icon="pi pi-check" class="p-button-text"
              (click)="saveTask()"></button>
    </ng-template>
  </p-dialog>
</div>

<div class="card flex justify-content-center gap-2">
  <p-confirmDialog></p-confirmDialog>
</div>
