<p-menubar [model]="items" class="p-menubar">
    <nav>
        <h1>
            <a href="#">Angular Routing</a>
        </h1>
        <ul>
            <div>
                <a routerLink="Authorization" pButton icon="pi pi-plus" class="p-button-success">Вход</a>
                <a routerLink="Registration">Регистриция</a>
                <a routerLink="Tasks">Задачи</a>
                <a routerLink='TasksCategories'>Категории</a>
            </div>
        </ul>
    </nav>
</p-menubar>
<div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>



