<div class="p-card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Добавить категорию" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="OpenNew()"></button>
    </ng-template>
  </p-toolbar>
  <p-table [columns]="cols" [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]='col.field'>
          {{col.header}}
          <p-sortIcon [field]='col.field'></p-sortIcon>
        </th>
        <th>
          <p></p> <!--table-header для технической колонки с кнопками-->
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-Category>
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success table-button"
                  (click)="editCategory(category)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteCategory(category)"></button>
        </td>

      </tr>
    </ng-template>
  </p-table>

  <!--Модальное окно -->
  <p-dialog [formGroup]="categoryForm" [(visible)]="categoryDialog" [style]="{width: '450px'}"
            header="Создание категории" [modal]="true"
            styleClass="p-fluid">

    <ng-template pTemplate="content">
      <div class="p-field">
        <small class="p-invalid" *ngIf="$submitted && !category.name">Заполните обязательные поля!</small>
      </div>
      <div class="p-field">
        <label for="user">Название категории</label>
        <input formControlName="name" pInputText type="text" id="user">
      </div>
      <div class="p-field">
        <label for="description">Описание категории</label>
        <textarea formControlName="description" id="description" pInputTextarea
                  required rows="3"
                  cols="20"></textarea>
      </div>


    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Выйти" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Сохранить" icon="pi pi-check" class="p-button-text"
              (click)="saveCategory()"></button>
    </ng-template>
  </p-dialog>
</div>

<div class="card flex justify-content-center gap-2">
  <p-confirmDialog></p-confirmDialog>
</div>
