<div class="center">
  <a class="font">Регистрация </a>
  <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
    <small class="p-invalid" *ngIf="this.registrationInvalid">Адресс электроной почты уже используется.</small>
    <p><input pInputText placeholder="Email" type="email" formControlName="email"></p>
    <p><input pInputText placeholder="Имя" type="text" formControlName="username"></p>
    <p><input pInputText placeholder="пароль" class="p-inputted" type="password" formControlName="password"></p>
    <p>
      <button [disabled]="!registrationForm.valid"
              pButton class="p-button buttonColour" icon="pi pi-play" type="submit">
        Зарегистрироваться
      </button>
    </p>
  </form>
</div>
