<div style="position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ">
  <a style="font-size: 37px">Регистрация </a>
  <form [formGroup]="registrationform" (ngSubmit)="submitRegistration()">
    <small class="p-invalid" *ngIf="this.registrationIvalid">Адресс электроной почты уже используется.</small>
    <p><input pInputText placeholder="Email" type="email" formControlName="email"></p>
    <p><input pInputText placeholder="Имя" type="text" formControlName="username"></p>
    <p><input pInputText placeholder="пароль" class="p-inputted" type="password" formControlName="password"></p>
    <p>
      <button [disabled]="!registrationform.valid"
              style="background-color: darkslategray; border-color: darkslategray;width: 210px" pButton class="p-button"
              icon="pi pi-play" type="submit">Зарегистрироваться
      </button>
    </p>
  </form>
</div>
